CMakeLists.txt.user

KeyFrameTrajectory.txt
Thirdparty/DBoW2/build/
Thirdparty/DBoW2/lib/
Thirdparty/g2o/build/
Thirdparty/g2o/config.h
Thirdparty/g2o/lib/
Vocabulary/ORBvoc.txt
build/
*~

# Library files
lib/

# Executables
bin/

# Eclipse project settings
.cproject
.project
