<launch>

<node pkg="rosbag" type="play" name="player" output="screen" args="--clock --pause /home/andre/Documents/bags/medium.bag /imu0:=/imu/data_raw /cam0/image_raw:=/camera/left/image_raw /cam1/image_raw:=/camera/right/image_raw"/>

<node name="imu_filter_node" pkg="imu_filter_madgwick" type="imu_filter_node" args="_use_mag:=false"/>

</launch>
